body {
  background-color: #282c34;
}

.App {
  text-align: center;
  color: white
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 35px;
  font-size: large;
  font-weight: 600;
}

.one {
  background-color: red;
  margin-left: 25%;
  margin-right: 1%;
  width: 50%;
  height: 180px;
  padding-top: 10px;
  border-radius: 5px;
}

.two {
  background-color: blue;
  margin-left: 1%;
  margin-right: 25%;
  width: 50%;
  height: 180px;
  padding-top: 10px;
  border-radius: 5px;
}

.three {
  background-color: yellow;
  margin-left: 25%;
  margin-right: 1%;
  width: 50%;
  height: 180px;
  padding-top: 10px;
  border-radius: 5px;
}

.four {
  background-color: green;
    margin-left: 1%;
    margin-right: 25%;
    width: 50%;
    height: 180px;
    padding-top: 10px;
    border-radius: 5px;
}

/* Dropdown */

